<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="src/style.css">
</head>

<body class="dark-mode">
  
  <nav class="nav-bar">
    <div  class="nav-container">
      <div class="nav-left">Mela Agenagn</div>
      <div class="right-nav">
        <div class="login element"><a class="a" href="login">Login</a></div>
        <div class="signup element"><button class="btn"><a class="a" href="signup">Sign Up</a></button></div>
        
        <div class="toggle-mode element"><button id="modeToggle">☀️</button></div>
      </div>
    </div>
  </nav>

  <div class="largerContainer">
    <div style="margin-top: 30vh;" class="smaller">
            <h1>Create Your Account</h1>
            <form class="signup-form">
                <input style="margin-top: 50px;" type="text" placeholder="Email or Username" required>
                <input type="text" placeholder="Full Name" required>
                <input type="password" placeholder="Password" required>
                <input type="password" placeholder="Confirm Password" required>

        <button  type="submit" id="signup">Sign Up</button>
                </form>

     
      <p style="margin-top:20px;">Already have an account? 
    <a href="login" style="color:#11b59e; text-decoration:none;">Login</a>
      </p>

     
      <div class="social-signup">
        <p>Or sign up with:</p>
        <div class="social-buttons">
        <button class="social-btn google">Google</button>
        <button class="social-btn facebook">Facebook</button>
        <button class="social-btn twitter">Twitter</button>
        </div>
      </div>
    </div>
  </div>

  <script src="/src/script.js"></script>
</body>
</html>
